<mat-accordion>
<mat-expansion-panel *ngFor = "let post of posts$">
      <mat-expansion-panel-header>
        <mat-panel-title>
        Post Id:{{post.postId}}      Title: {{post.title}} 
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
        Body: {{post.body}}
        <button mat-raised-button color="primary" (click)="deletePost(post.id)" [disabled]>Delete Post</button>
        <button mat-button (click)= "addLikes(post.id,post.like)" >LIKE</button><span *ngIf="post.likes!=0">{{post.like}}</span>
    </mat-expansion-panel>
</mat-accordion>