<div style="width:80%" >
        <table class="table table-border" >
          <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Body</th>
          </tr>
          <tbody *ngFor="let post of posts$">
              <!--<div *ngFor="let post of posts$">-->
          <tr style="background: lightblue"> 
            <td>{{post.id}}</td>
            <td>{{post.title}}</td>
            <td>{{post.body}}</td>
            <td> <button mat-raised-button color="primary" (click) = "onSubmit(post.id,post.title,post.body)">Save Post</button></td>
           <td> <button mat-raised-button color="primary" (click) = "showcomments(post.id)">Show Comments</button></td> 
          </tr>
         
          <tr>  
            <td colspan="4" >  
              <table class="table table-border" *ngIf='show && post.id==postId'> 
                <tr>
                  <th>Post Id</th>
                  <th>Body</th>
                </tr>
                <tbody>
                <tr *ngFor="let comment of comments">
                  <td>{{comment.postId}}</td>
                  <td>{{comment.body}}</td>
                  <td></td>
                </tr>
              </tbody>
              </table>
            </td>
          </tr>
        <!--</div> -->
        </tbody>
        </table> 
 </div>