<div *ngIf = "!(authservice.user | async)?.uid">
            <h2>Welcome</h2>
    </div>
    <br><br>
    <div *ngIf = "(authservice.user | async)?.uid">
            <h2>Welcome
                <br> {{userDisplayEmail}} </h2>
    </div>